.nav-bar {
    background-color: #000000;
    padding: 1rem;
    display: flex;
    align-items: center;
  }
  
  .nav-bar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-right: 1rem;
    margin-left: 25px;
  }
  
  .nav-bar-links {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    
  }
  
  .nav-bar-links li {
    margin-right: 1rem;
    background-color: black;
  }
  
  .nav-bar-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
    
  }
  
  .nav-bar-links a:hover {
    color: #ccc;
  }
  
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .nav-bar-links {
      display: none;
    }
  }
  .nav-bar-links.active {
    display: block;
  }
  

